.self-right {
	position: relative;
	width: calc(100% - 3px);
	height: 100%;
}
	.self-right > .resizer {
		position: absolute;
		top: 0;
		left: 0;
		width: 2px;
		height: 100%;
		background: rgba(0, 0, 0, 0.01);
		border-left: 1px solid var(--tool-border-color);
		cursor: col-resize;
	}
	.self-right > .content {
		height: 100%;
		margin-left: 1px;
	}

.self-bottom {
	position: relative;
	width: 100%;
}
	.self-bottom > .resizer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: rgba(0, 0, 0, 0.01);
		border-top: 1px solid var(--tool-border-color);
		cursor: row-resize;
	}
	.self-bottom > .content {
		width: 100%;
		height: calc(100% - 3px);
		margin-top: 1px;
	}
