.inline-info {
	color: var(--tool-text-color-light);
	xfont-family: var(--tool-font);
	font-size: 85%;
}

.nest {
	margin: 0 0 0 14px;
	padding: 0;
}

/* TODO: EntityTree.css と重複 */
.entity {
	margin: 0;
	padding: 1px 3px 0 0;
}
	.entity:hover {
		border-radius: 2px;
		background: var(--tool-bg-color-white-active);
	}
