.entity-tree {
	box-sizing: border-box;
	background: var(--tool-bg-color-white);
	padding: 4px 4px 4px 14px;
  font-size: 0.85rem;
	font-family: var(--tool-font-monospace);
	user-select: none;
	cursor: default;
}
	.entity-tree .entity {
		margin: 0;
		padding: 1px 3px 0 0;
	}
		.entity-tree .entity:hover {
			border-radius: 2px;
			background: var(--tool-bg-color-white-active);
		}
