.root {
  width: 100%;
  height: 100%;
	background: #fbfbfb; /* TODO name it */
}

.devtool {
	height: 100%;
}
.right {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
}
.bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.devtool-inner {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
	.devtool .menubar {
		box-sizing: border-box;
		width: 100%;
		height: var(--tool-menubar-height);
	}
	.devtool .content {
		box-sizing: border-box;
		width: 100%;
		height: calc(100% - var(--tool-menubar-height));
	}
