.root {
  width: 100%;
  height: 100%;
	background: #fbfbfb; /* TODO name it */
}

.devtool {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
	.devtool .menubar {
		flex-grow: 0;
	}
	.devtool .content {
		overflow-y: scroll;
		flex-grow: 2;
	}
