@font-face {
	font-family: 'Roboto';
	src: url(./thirdparty/robotottf/Roboto-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Ricty';
	src: url(./thirdparty/RictyDiminished-Regular.ttf) format('truetype');
}

:global(:root) {
	--akashic-red: #c51e1e;
	--tool-bg-color: #f0f0f0;
	--tool-bg-color-active: #e0e0e0;
	--tool-bg-color-accent: #fe3c3c;
	--tool-bg-color-white: #fbfbfb;
	--tool-bg-color-white-active: #e8f0ff;
	--tool-border-color: #c0c0c8;
	--tool-inner-border-color: #c0c0c8;
	--tool-color-disabled: silver;
	--tool-color: #777;
	--tool-color-hover: #444;
	--tool-text-color: #555;
	--tool-text-color-light: #999;
	--tool-font: Roboto, sans-serif;
	--tool-font-monospace: Ricty, monospace;
}

:global(*) {
	margin: 0;
	padding: 0;
}

:global(html), :global(body), :global(#app) {
	width: 100%;
	height: 100%;
}
